<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Historical Character Archetype Quiz</title>
</head>
<body>
    <div class="quiz-container">
        <h1 class="clear">My Collection</h1>
        <p> Add to your Collection through Connecting to the Past!</p>
        <div id="collectionContainer"></div>
        <button id="addmorecollection" onclick="window.location.href='explore.html';">Visit our VR Popup at these Museums</button>
        <div class="Tabbar">
            <div class="Tabs"> 
                <div id="home-tab" class="TabbarTab" onclick="window.location.href='index.html';">
                  <img class="HomeIcon"  src="{{ url_for('static', filename='Icons/Home.png') }}" alt="Home" />
                  <img class="activeIcon" src="{{ url_for('static', filename='Icons/bluehome.png') }}" alt="Blue Home Icon" style="display: none;"/>
                  <div class="Home">Home</div>
                </div>
                <div id="explore-tab" class="TabbarTab" onclick="window.location.href='explore.html';">
                  <img class="ExploreIcon" src="{{ url_for('static', filename='Icons/Explore.png') }}" alt="Explore"/>
                  <img class="activeIcon" src="{{ url_for('static', filename='Icons/blueexplore.png') }}" alt="Blue Explore Icon" style="display: none;"/>
                  <div class="Explore">Explore</div>
                </div>
                <div id="collection-tab"class="TabbarTab" onclick="window.location.href='collection.html';">
                  <img class="CollectionIcon" src="{{ url_for('static', filename='Icons/Collection.png') }}" alt="Collection"/>
                  <img class="activeIcon" src="{{ url_for('static', filename='Icons/bluecollection.png') }}" alt="Blue Collection Icon" style="display: none;"/>
                  <div class="Collection">Collection</div>
                </div>
                <div id="profile-tab"class="TabbarTab" onclick="window.location.href='profile.html';">
                  <img class="ProfileIcon" src="{{ url_for('static', filename='Icons/Profile.png') }}" alt="Profile"/>
                  <img class="activeIcon" src="{{ url_for('static', filename='Icons/blueprofile.png') }}" alt="Blue Profile Icon" style="display: none;"/>
                  <div class="Profile">Profile</div>
                </div>
              </div>
          </div>
        </div>
    </div>
    <!-- <script src="icon.js"></script> -->
    <script src="{{ url_for('static', filename='icon.js') }}"></script>
    <script src="{{ url_for('static', filename='show_collection.js') }}"></script>
</body>
</html>