<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="./css/styles.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Historical Character Archetype Quiz</title>
</head>
<body>
    <div class="quiz-container">
        <h1>Home</h1>
        <h2>Connect to the Past</h2>
        <img class="landing-page-img" src="{{ url_for('static', filename='Icons/singapore-river-old-new.jpeg') }}" alt="Past and present Clarke Quay">
        <p> Want to know what character archetype <br/>you would have been in the past?</p>
        <button onclick="startQuiz()">Start your Journey!</button>
        <div class="Tabbar">
            <div class="Tabs"> 
              <div id="home-tab" class="TabbarTab" onclick="window.location.href='index.html';">
                <img class="HomeIcon"  src="{{ url_for('static', filename='Icons/Home.png') }}" alt="Home" />
                <img class="activeIcon" src="{{ url_for('static', filename='Icons/bluehome.png') }}" alt="Blue Home Icon" style="display: none;"/>
                <div class="Home">Home</div>
              </div>
              <div id="explore-tab" class="TabbarTab" onclick="window.location.href='explore.html';">
                <img class="ExploreIcon" src="{{ url_for('static', filename='Icons/Explore.png') }}" alt="Explore"/>
                <img class="activeIcon" src="{{ url_for('static', filename='Icons/blueexplore.png') }}" alt="Blue Explore Icon" style="display: none;"/>
                <div class="Explore">Explore</div>
              </div>
              <div id="collection-tab"class="TabbarTab" onclick="window.location.href='collection.html';">
                <img class="CollectionIcon" src="{{ url_for('static', filename='Icons/Collection.png') }}" alt="Collection"/>
                <img class="activeIcon" src="{{ url_for('static', filename='Icons/bluecollection.png') }}" alt="Blue Collectioncon" style="display: none;"/>
                <div class="Collection">Collection</div>
              </div>
              <div id="profile-tab"class="TabbarTab" onclick="window.location.href='profile.html';">
                <img class="ProfileIcon" src="{{ url_for('static', filename='Icons/Profile.png') }}" alt="Profile"/>
                <img class="activeIcon" src="{{ url_for('static', filename='Icons/blueprofile.png') }}" alt="Blue Profile Icon" style="display: none;"/>
                <div class="Profile">Profile</div>
              </div>
            </div>
        </div>
    </div>
        <div id="question-container" class="hidden">
            <div id="question1">
                <h1>Question 1</h1>
                <p>Scenario: You arrive at a bright gateway leading to different paths. Which one feels like your way?</p>
                <button onclick="nextQuestion('q1=1')">A path with flashy signs and exciting sounds, like a busy shopping district.</button>
                <button onclick="nextQuestion('q1=2')">A quiet walkway with plants and soft lighting, like a peaceful park.</button>
                <button onclick="nextQuestion('q1=3')">A bustling path with sounds of work and laughter, like a lively construction site.</button>
                <button onclick="nextQuestion('q1=4')">A street filled with music and colorful decorations, like a festive market.</button>
            </div>
            
            <div id="question2" class="hidden">
                <h1>Question 2</h1>
                <p>Scenario: Exploring a small alley, you find something interesting. What catches your eye?</p>
                <button onclick="nextQuestion('q2=1')">A cool, shiny gadget that looks like it's from a sci-fi show.</button>
                <button onclick="nextQuestion('q2=2')">A handmade wooden trinket that reminds you of a kampung house.</button>
                <button onclick="nextQuestion('q2=3')">A pair of sturdy gloves, like those seen on workers at a building site.</button>
                <button onclick="nextQuestion('q2=4')">An old, patched bag with many stories to tell, like those at the National Museum.</button>
            </div>
            <!-- Add more questions as needed -->
            <div id="question3" class="hidden">
                <h1>Question 3</h1>
                <p>Scenario: A screen pops up asking you to make an important choice for the city. What do you pick?</p>
                <button onclick="nextQuestion('q3=1')">Starting a new business that uses the latest tech.</button>
                <button onclick="nextQuestion('q3=2')">Saving a beautiful, old tree that's been around for ages.</button>
                <button onclick="nextQuestion('q3=3')">Helping fix up a well-known landmark that's seen better days.</button>
                <button onclick="nextQuestion('q3=4')">Setting up a show that tells stories from different parts of Singapore.</button>
            </div>
            <div id="question4" class="hidden">
                <h1>Question 4</h1>
                <p>Scenario: On a lively street, you bump into a group of historical characters. Who do you talk to?</p>
                <button onclick="nextQuestion('q4=1')">A smart-looking person with big ideas for business.</button>
                <button onclick="nextQuestion('q4=2')">A friendly face who knows all about plants and nature.</button>
                <button onclick="nextQuestion('q4=3')">Someone wearing a hard hat, ready to build something great.</button>
                <button onclick="nextQuestion('q4=4')">A storyteller, eager to share tales of Singapore's many cultures.</button>
            </div>
            <div id="question5" class="hidden">
                <h1>Question 5</h1>
                <p>Scenario: You're at a big dinner with all sorts of food. What do you try first?</p>
                <button onclick="nextQuestion('q5=1')">A dish that looks like it's straight out of a futuristic movie.</button>
                <button onclick="nextQuestion('q5=2')">A comforting, homemade meal like your grandparents might cook.</button>
                <button onclick="nextQuestion('q5=3')">A filling, no-frills dish, the kind that fuels a long day's work.</button>
                <button onclick="nextQuestion('q5=4')">A plate full of flavors from all over, like at a hawker centre.</button>
            </div>
            <div id="question6" class="hidden">
                <h1>Question 6</h1>
                <p>Scenario: In a place filled with sounds and images, one display calls out to you. Which story do you explore?</p>
                <button onclick="nextQuestion('q6=1')">A lively scene of traders and shoppers, like in Chinatown.</button>
                <button onclick="nextQuestion('q6=2')">A quiet corner of Singapore, filled with greenery and bird calls.</button>
                <button onclick="nextQuestion('q6=3')">A busy building site, buzzing with energy and teamwork.</button>
                <button onclick="nextQuestion('q6=4')">A collage of pictures and voices from many different neighborhoods.</button>
            </div>
            <div id="question7" class="hidden">
                <h1>Question 7</h1>
                <p>Scenario: Before leaving, you write a note for those who'll come after. What do you say?</p>
                <button onclick="nextQuestion('q7=1')">"Always be ready for new ideas and chances."</button>
                <button onclick="nextQuestion('q7=2')">"Remember the stories and beauty of our past."</button>
                <button onclick="nextQuestion('q7=3')">"Work hard together and make big things happen."</button>
                <button onclick="nextQuestion('q7=4')">"Celebrate the mix of people and places that make us who we are."</button>
            </div>
            <div id="question8" class="hidden">
                <!-- button to generate image -->
                <h1>Final Step:</h1>
                <h2>Generate your Personalised Image</h2>
                <!-- <button onclick="window.location.href='result.html';">Generate Image</button> -->
                <button onclick="nextQuestion()">Generate Image</button>
            </div>
        </div>
    <!-- </form> -->
    <script src="{{ url_for('static', filename='quiz.js') }}"></script>
    <script src="{{ url_for('static', filename='icon.js') }}"></script>
</body>
</html>